@model SearchRoomForOrder
@{
    ViewBag.Title = "Search";
}

    <div class="page">

        <div class="container-fluid">
            <div class="row clearfix justify-content-end">

                <div class="col-lg-4 col-md-6">
                    <div class="card flex-fill">
                        <div class="body taskboard planned_task text-center">
                            <button type="button" class="btn btn-primary btn-block" disabled>
                                <span class="btn-inner--visible">Müştəri:<span class="select-cust-name"></span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card flex-fill">
                        <div class="body taskboard planned_task">
                            <button data-toggle="modal" data-target="#selectcustomer" type="button" class="btn btn-primary btn-block btn-animated btn-animated-y">
                                <span class="btn-inner--visible">Müştərini seç</span>
                                <span class="btn-inner--hidden"><i class="fa fa-plus"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p-0 search-list">
                    <div class="row cols-xs-space cols-sm-space cols-md-space justify-content-center">
                        <div class=" col-lg-4">
                            <b>Cixiş tarixi</b>
                            <b>və</b>
                            <b>Giriş tarixi</b>
                            <div class="input-group input-daterange">
                                <input type="text"  class="form-control checkin">
                                <span class="input-group-text" id="basic-addon3">to</span>
                                <input type="text" aria-describedby="basic-addon" class="form-control checkout">
                            </div>
                        </div>
                        <div class=" col-lg-2">
                            <b>Böyük</b>
                            <select class="selectpicker person" name="" data-style="btn-primary">
                                <option selected value="-1">0</option>
                                <option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class=" col-lg-2">
                            <b>Uşaq</b>
                            <select class="selectpicker child" name="" data-style="btn-primary">
                                <option selected value="0">0</option>
                                <<option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class=" col-lg-1">
                            <b>Axtar</b><br>
                            <a class="btn btn-primary active"><i class="fas fa-search"></i></a>
                        </div>

                    </div>


            </div>




            <div class="row clearfix rooms-list">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Otaqların siyahısı</strong></h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    @{
                                        Html.RenderPartial("~/Views/Shared/_SearchSearchsList.cshtml", model: Model.Rooms);
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Invoice -->
        <div class="modal modal-success fade" id="noti" tabindex="-1" role="dialog" aria-labelledby="modal_5" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_title_6">Otağı seçmək isdəyirsiz?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <p>
                                Tarix Aralıği : 2019-03-20 - 2019-03-28 .
                            </p>
                            <p>
                                Boyük : 2 , Uşaq : 1 .
                            </p>
                            <p>
                                Otaq № : 21 .
                            </p>
                            <p>
                                Ümümi Məbləğ : 616.00 AZN .
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn  btn-primary" data-dismiss="modal">Tamamla</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Select Customer -->
        <div class="modal fade" id="selectcustomer" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="title" id="defaultModalLabel">Müştəri Axtar</h6>
                    </div>
                    <div class="modal-body">
                        <div class="row clearfix">
                            <div class="col-12">
                                <div class="input-group input-group-transparent mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Müştərinin Adi </th>
                                            <th scope="col">Nömrəsi</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            Html.RenderPartial("~/Views/Shared/_CustList.cshtml", model: Model.Customers);
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">BAĞLA</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

