@model Product




    <tr>
        <th><i class="fas fa-glass-martini-alt"></i></th>
        <td>@Model.Name</td>
        <td><span class="invoice-price">@Model.Price</span> AZN</td>
        <td id="@Model.Id" class="invoice-count">1</td>
        <td><span class="invoice-fullprice">@Model.Price</span>AZN</td>

    </tr>
